
*, *:before, *:after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Myriad Pro Regular';
    src: local(Myriad Pro Regular), url("../fonts/Myriad Pro Regular.ttf");
}
body {
    font-family: 'Open Sans', 'Lato', sans-serif;


}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: .02em;
    text-transform: uppercase;
    text-align: center;
    color: #4c76ff;
}

.features-heart,
.works-heart,
.team-heart,
.discuss-heart{
    display: block;
    text-align: center;
    color: #bfbfbf;
}
.features-heart:before,
.works-heart:before,
.team-heart:before,
.discuss-heart:before {
    content: "";
    background-color: #d7dadc;
    display: inline-block;
    width: 90px;
    height: 1px;
    vertical-align: middle;
    margin-right: 14px;
}

.features-heart:after,
.works-heart:after,
.team-heart:after,
.discuss-heart:after {
    content: "";
    background-color: #d7dadc;
    display: inline-block;
    width: 90px;
    height: 1px;
    vertical-align: middle;
    margin-left: 14px;
}

 /*beginning of section-main*/
 .main {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     height: 100vh;
     min-height: 700px;
     background: url("../images/BGraund-Banner.png") no-repeat center top;
     background-size: cover;
     position: relative;
 }

.main-overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .01;
    z-index: 0;
    background-image: url("../images/image.png");
}
.wraper {
    width: 100%;
    background-color: rgba(16, 22, 54, .3);
}
.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 970px;
    margin: 0 auto;
    z-index: 2;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

 }


.logo a {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.2;
    text-decoration: none;
    color: #fff;
    letter-spacing: .05em;

}
.logo a span {
    font-size: 21px;
    font-weight: 900;
    color: #4c76ff;
    opacity: 1;
    margin-right: 34px;
}

.logo span {
    font-weight: 100;
    font-style: italic;
    color: #32b0ee;
    font-size: 14px;
    opacity: .33;
}

.logo p {
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    letter-spacing: .05em;
    opacity: 0.33;
    margin-left: 20px;
    margin-bottom: 4px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 8px;
}

.menu-link {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight:100;
    color: #fff;
    text-decoration: none;
    letter-spacing: .05em;
    padding-top: 18px;
}

.menu-link:hover {
    border-top: 3px solid #4c76ff;

}
.menu-item {
    margin-left: 34px;
}
.main-content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
}

.main-content h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 62px;
    line-height: 1.2;
    color: #fff;
    margin: 0;
}

.main-content h1 span {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 62px;
    color: #4c76ff;
    margin-left: -13px;
}
.main-content p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 48px;
    color: #fff;
    opacity: .9;
    margin: 0;
}
.main-content p span {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 48px;
    color: #4c76ff;
    opacity: .9;
}

.main-content h3 {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    opacity: .9;
}
.main-content h3:before {
    content: "";
    background-color: #4c76ff;
    display: inline-block;
    width: 28px;
    height: 1px;
    vertical-align: middle;
    margin-right: 40px;
}
.main-content h3:after {
    content: "";
    background-color: #4c76ff;
    display: inline-block;
    width: 28px;
    height: 1px;
    vertical-align: middle;
    margin-left: 40px;
}
.social {
    display: flex;
    position: relative;
    bottom: 121px;

}
.social a{
    position: relative;
    display: flex;
    z-index: 2;
    /*justify-content: center;*/
    height: 18px;
    color: #fff;
    opacity: .3;

}
.main-twitter {
    margin-right: 16px;
}

.main-facebook {
    margin-right: 18px;
}

.main-google {
    margin-right: 13px;
}

.social a:hover {
    opacity: 1;
}

.features {
    display: flex;
    min-height: 430px;
    position: relative;
    background-color: #efefef;
}
.wraper-features {
    position: relative;
    max-width: 970px;
    margin: 0 auto;
    z-index: 2;
}
.features-container {
    display: inline-flex;
    width: 100%;

}
.features h2 {
    margin-top: 80px;
    margin-bottom: 25px;

}

.features-heart {
    margin-bottom: 85px;
}

.features-box {
    display: flex;
    margin-left: 31px;
}

.features-box:first-of-type {
     margin-left: 0;

 }

.features-icon {
    display: flex;
    align-items: center;
    flex: none;
    width: 34px;
    height: 34px;
    border: 2px solid #7d9bfa;
    border-radius: 50%;

}

.features-icon i {
   color: #4c76ff;
   margin-left: 6px;
}

.features-text {
    font-family: 'Open Sans', sans-serif;
    margin-left: 13px;

}
.features-text h3 {
    font-weight: 600;
    font-size: 17px;
    margin-top: 1px;
    margin-bottom: 0;
    color: #062033;

}

.features-text p {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.6150;
    margin-top: 19px;
    color: #062033;
    opacity: .7;
    max-width: 256px;
}

.works {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 1205px;
    position: relative;
    background-color: #fff;
}
.wraper-works {
    position: relative;
    max-width: 970px;
    margin: 0 auto;
}

.works-beginning {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.999;
    max-width: 812px;
    margin-top: 87px;
    margin-bottom: 68px;
    margin-left: 70px;
    color: #282528;
}
.iphone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.iphone-text-1,
.iphone-text-2 {
    display: flex;
    flex-direction: column;
}
.iphone-item-text {
    position: relative;
    padding-left: 69px;
    margin-bottom: 75px;
}
.iphone-item-text:hover {
    background-color: #fefce9;
    opacity: 1;

}
.works-icon-a {
    text-decoration: none;

}
.works-icon-a  h3 {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.1253;
    color: #281528;
    margin-top: 1px;
    margin-bottom: 19px;
}
.works-icon-a p {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.8457;
    max-width: 225px;
    margin-bottom: 0;
    color: #281528;
}
.works-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    opacity: .4;
}

.iphone-Phone {
    display: flex;
    height: 608px;
    width: 350px;
    background: url("../images/IPHONE-5.png") no-repeat center;
    flex: none;
}

.works h2 {
    margin-top: 80px;
    margin-bottom: 25px;
}

.works-heart {
    margin-bottom: 45px;
}

.works-end {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.2678;
    max-width: 717px;
    margin: 0 auto;
    color: #062033;
    opacity: .8;
}

.works-navigation {
    margin-top: 75px;
    margin-bottom: 57px;
}
.works-filter {
    display: flex;
    justify-content: center;
    list-style: none;

}

.filter-link {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #062033;
    text-decoration: none;

}

.filter-link:hover {
    width: 100%;
    background-color: #4c76ff;
    padding: 10px 19px;
    border-radius: 5px;

}
.filter-item {
    margin-right: 54px;
}
.photos {
    display: flex;
    min-height: 440px;
    position: relative;
}
.photo-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.photo-nav li {
    width: 25%;
    height: auto;
    position: relative;
    /*flex: none;*/
}
.photo-nav li p {
    margin: 0 auto;

}
.photo-nav img {
    width: 100%;
    height: 100%;
}

.photo-nav-info {
    font-family: 'Open Sans', sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(94, 131, 255, .9);
    color: white;
    text-decoration: none;
}
.photo-nav li:hover .photo-nav-info {
    display: flex;
}

.photo-nav-info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 69px;
    margin-bottom: 0;
}

.photo-nav-info h3 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.333;
    margin-top: 21px;
    margin-bottom: 0;

}
.photo-nav-info p{
    font-size: 10px;
    line-height: 1.708;

}

.team {
    display: flex;
    position: relative;
    background-color: #fff;
}
.wraper-team {
    position: relative;
    max-width: 970px;
    margin: 0 auto;
}
.team h2 {
    margin-top: 109px;
    margin-bottom: 25px;
}

.team-heart {
    margin-bottom: 55px;
}

.team-beginning {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.3335;
    max-width: 805px;
    margin: 0 auto;
    color: #062033;
    opacity: .8;
}

.persons {
    display: block;
    margin-top: 100px;
    text-align: center;
}
.one-person {
    display: inline-block;
    position: relative;
    width: 23%;
    margin-left: 16px;

}
.one-person img {
    width: 100%;
    /*height: 100%;*/
}

.person-hover {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 250px;
    background: rgba(94, 131, 255, .9);
    color: white;
}
.one-person:hover .person-hover{
    display: block;
}

.person-hover h3 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5003;
    max-width: 176px;
    margin: 0 auto;
    padding-top: 20px;

}

.person-hover p {
    font-size: 13px;
    line-height: 1.5;
    max-width: 187px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 24px;
}
.person-hover a {
    width: 35px;
    height: 35px;
}

.team-social i {
    width: 35px;
    height: 35px;
    background-color: #3653ae;
    color: #fff;
    text-decoration: none;
    padding-top: 7px;
    
}
.team-social i:hover {
    background-color: #0748ee;
    color: #f4f5f8;
}
.person-name {
    margin-bottom: 93px;
}
.person-name a {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3335;
    color: #062033;
    text-decoration: none;
}

.person-name p {
    margin-bottom: 5px;

}

.person-name span {
    font-size: 11px;
    line-height: 1.8555;
    color: #062033;
    opacity: .56;
}

.person-name a:hover {
    color: #83d8c8;
}
.some-facts {
    display: flex;
    max-height: 448px;
    position: relative;
    background: url("../images/Town.png") no-repeat center top;
    background-size: cover;

}
.facts-overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../images/Town-overlay.png");

}

.wraper-facts {
    max-width: 970px;
    width: 100%;
    margin: 0 auto 80px;
    z-index: 0;

}

.wraper-facts h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 21px;
    letter-spacing: .02em;
    text-transform: uppercase;
    text-align: center;
    color: #4c76ff;
    opacity: .9;
    z-index: 2;
    margin-top: 75px;
    margin-bottom: 15px;
}

.heart-little {
    display: block;
    text-align: center;
    color: #f0f2f3;
    opacity: .8;
}
.heart-little:before {
    content: "";
    background-color: #f0f2f3;
    display: inline-block;
    width: 70px;
    height: 1px;
    vertical-align: middle;
    margin-right: 13px;
}
.heart-little:after {
    content: "";
    background-color: #f0f2f3;
    display: inline-block;
    width: 70px;
    height: 1px;
    vertical-align: middle;
    margin-left: 13px;
}

.facts-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.facts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.facts-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 94px;
    margin-bottom: 37px;
    border: 2px solid #747f88;
    border-radius: 50%;
    font-size: 29px;

}
.facts-icon i{
    color: #fff;
}

.facts-counter {
    font-weight: 600;
    font-size: 49px;
    color: #ffffff;
    padding-bottom: 10px;
    /*text-align: center;*/
}
.results {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}

.discuss {
    display: flex;
    position: relative;
    background-color: #fff;
}
.wraper-discuss {
    position: relative;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}
.address {
    width: 23%;
}
.address-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.discuss h2 {
    margin-top: 78px;
    margin-bottom: 25px;
}

.discuss-heart {
    margin-bottom: 54px;
}

.discuss-beginning {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.3333;
    margin: 0 auto;
    color: #062033;
    opacity: .8;
    height: 79px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 89px;

}
.address h3 {
    font-size: 18px;
    line-height: 1.4550;
    color: #062033;
}
.address-list {
    list-style: none;
    padding-left: 2px;
}

.address-items {
    position: relative;
    color: #6a737b;
    font-size: 11px;
    line-height: 1.8684;

}
.address-items a {
    display: block;
    color: #6a737b;
    width: 100%;
    text-decoration: none;
}
.address-items a:hover {
    text-decoration: underline;
    color: #4b6277;
}
::placeholder {
    font-size: 11px;
    line-height: 1.8468;
    color: #5b646e;
    opacity: .5;
    padding-left: 2px;
    /*vertical-align: center;*/
}
.discuss-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.form-control {
    display: inline-block;
    font-size: 14px;
    color: #062033;
    padding: 0 20px 0 2px;
    border: none;
    border-bottom: 2px solid rgba(232, 232, 232, .5);
    height: 50px;
    width: 100%;
    transition: all .3s;

}

.form-field {
    display: flex;
    width: 48%;

}
.form-field-3 {
    width: 100%;
}
/*.discuss-forms .form-button {*/
    /*justify-content: end;*/
/*}*/

textarea.form-control {
    max-height: 125px;
    resize: none;
    padding-top: 16px;
    width: 100%;
}
.message-btn {
    background-color: transparent;
    border: none;
    font-size: 13px;
    line-height: 1.3946;
    color: #000;
    padding: 6px 2px 6px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
.form-button {
    position: relative;
    flex-basis: 100%;
    text-align: end;

}
.message-btn:hover {
    background-color: #009ceb;
    color: #fff;
    border-radius: 4px;
}
.message-icon {
    position: absolute;
    padding-top: 7px;
    padding-left: 2px;
    color: #b7c8ff;
}
.social-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 5%;
}
.social-icon {
    text-decoration: none;
    margin-top: 17px;
    color: #cdd2d6;
    font-size: 23px;
    text-align: center;


}
.social-icon:hover {
    color: #009ceb;
    
}

.map {
    position: relative;
    width: 100%;
    height: 186px;

}
.footer {
    display: flex;
    position: relative;
    background-color: #010305;
    color: #fff;
}
.wraper-footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 930px;
    margin: 0 auto;

}
.footer-items {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-sarajevo {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: .05em;
    /*margin-top: 49px;*/
}

.footer-sarajevo span{
    color: #4c76ff;
}
.footer-beginning {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.8452;
    width: 249px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2005;
    opacity: .8;
    /*margin-top: 49px;*/
}
.div-form {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 42px;
}
.footer-form {
    display: block;
    width: 246px;
    height: 43px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    padding: 0 40px 0 10px;
    color: #fff;
    font-size: 14px;

}
.footer-form-icon {
    position: absolute;
    right: 50px;
    height: 100%;
}
.footer-form-icon a {
    display: block;
    color: white;
    height: 100%;
    padding-top: 11px;
}
.footer-form-icon a:hover {
    color: #4c76ff;
}
.footer-items p {
    font-size: 12px;
    line-height: 1.8470;
    margin-top: 22px;
    width: 218px;
}
.footer-explore {
    display: flex;

}
.explore {
    list-style: none;
    padding: 0;
    width: 50%;
}

.explore li {
    position: relative;
    font-size: 12px;
    line-height: 1.8684;
    margin-top: 18px;

}
.explore a {
    display: block;
    color: #fff;
    width: 100%;
    text-decoration: none;
}
.explore a:hover {

    text-decoration: underline;
    color: #4c76ff;
}

@media (max-width: 768px){
    .main {
        height: 100%;
        min-height: 400px;
    }
    .header {
        width: 90%;
    }
    .social {
        bottom: 20px;
    }
    .features {
        min-height: 330px;
    }
    .features-container {
        width: 95%;
        margin: 0 auto;
    }
    .features h2 {
        margin-top: 40px;
    }
    .features-heart {
        margin-bottom: 30px;
    }
    .works-beginning {
        margin: 40px 20px;
    }
    .iphone-text-1,
    .iphone-text-2 {
        margin-left: 15px;
    }
    .iphone-Phone {
        width: 300px;
        height: 600px;
    }
    .works {
        height: 100%;
        min-height: 955px;
    }
    .works h2 {
        margin-top: 10px;
    }
    .wraper-facts {
        padding-bottom: 30px;
    }
    .wraper-facts h3 {
        margin-top: 40px;
    }
    .discuss h2 {
        margin-top: 40px;
    }
    .discuss-heart {
        margin-bottom: 20px;
    }
    .discuss-beginning {
        height: 50px;
    }
    .contacts {
        width: 90%;
        margin: 40px auto;
    }
    .wraper-footer {
        min-width: 100%;
        width: 90%;
    }
    .footer-items {
        margin: 0 20px;
    }

}