html {


}    
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;

}
.header {
    max-width: 1170px;

}
.header-top {
    background-color: #2b2b2b;
}
.tel,
.user {
    height: 34px;
    padding: 5px 15px;


}
a {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 1.7142;
}
span {
    color: #3b3b3b;
    padding: 0 14px;
}
.user {
    float: right;
    text-align: right;
}
form {
    float: right;
    border: 1px solid #323232;
    width: 274px;
    height: 46px;
}
.header-middle {
    background-color: #232323;
    padding-top: 31px;
    padding-bottom: 26px;
}
.search,
.search::placeholder {
    font-weight: 200;
    color: #666;
    font-size: 13px;
    line-height: 1.8461;
}
.search {
    padding: 10px 10px 0 26px;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
}
button {
    float: right;
    width: 54px;
    height: 44px;
    background: transparent url("../images/Search.png")center center no-repeat;
    border: none;

}
.header-bottom {
    background-color: #232323;
}